<h1>Welcome to Telus International</h1>

<a routerLink="/showVacancy" mat-raised-button color="primary">Click Here To Apply as Internship</a><br><br>
<a routerLink="/studentdata" mat-raised-button color="primary">Click Here To Get Student Data</a>

<mat-tab-group>
    <mat-tab label="Intern"> Intern are learning Frontend </mat-tab>
    <mat-tab label="Employee"> Here It's a good feeling when Intern convert as a FTE</mat-tab>
    <mat-tab label="External"> Multi National Company </mat-tab>
  </mat-tab-group>
  
