<!-- <p>akarsh works!</p>
<button mat-button>Basic</button>
<button mat-button color="primary">Primary</button>
<button mat-button color="accent">Accent</button>
<button mat-icon-button color="warn" aria-label="Example icon button with a heart icon">
    <mat-icon>favorite</mat-icon>
  </button>

  <mat-spinner style="height: 40px;width: 70px;"></mat-spinner>

  <div class="demo-section">
    Button with a badge on the left
    <button mat-raised-button color="primary"
        matBadge="8" matBadgePosition="before" matBadgeColor="accent">
      Action
    </button>
  </div> -->

  