.field{
    width: 100%;
}
.innerContainer{
    width: 50%;
  
    margin: auto;
}

.innerContainer h1{
    text-align: center;
}
.button{
   text-align: center;
}
.innerContainer button{
    margin:5px;
}